@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
}

:root {
  --night-gradient: linear-gradient(to bottom, #001a29 60%, #03141f, #014569);
  --day-gradient: linear-gradient(to bottom, #0f7edf 60%, #0887d6, #41c4f8);
  --sunrise-gradient: linear-gradient(to bottom, #7ca1d1 60%, #ad9cc0, #e3aea8);
  --sunset-gradient: linear-gradient(to bottom, #2593a0 60%, #acc1c7, #ffb6a3);
  --bg-color: #ddd9d93d;
  --focus: #ffffff3a;
  --shadow: 1px 2px 5px rgba(0, 0, 0, 0.315);
}

body {
  display: flex;
  flex-direction: column;
  min-width: 100vw;
  min-height: 100vh;
  background-image: var(--day-gradient);
}

.nav {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  gap: 0.5rem;
  margin-bottom: .5rem;
  width: 1500px;
  max-width: 100%;
  margin-inline: auto;
}

.search_container {
  display: flex;
  position: relative;
  background-color: var(--bg-color);
  border: 1px solid #ffffff85;
  border-radius: 0.5rem;
  min-height: 32px;
  box-shadow: var(--shadow);
  flex: 0 1 500px;
}

.search_container i {
  display: flex;
  align-items: center;
  justify-content: center;
}

input {
  background-color: transparent;
  border: none;
  color: white;
  padding-left: 0.5rem;
  font-size: 0.9rem;
  width: 100%;
}

input:focus {
  outline: none;
  background-color: var(--focus);
}

input::placeholder {
  font-weight: 300;
}

.toggle-unit {
  border: 1px solid #ddd9d93d;
  padding: 0.3rem 0.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
  color: white;
  font-weight: 600;
  background-color: var(--bg-color);
  font-size: 1rem;
  transition: opacity 0.5s;
  min-height: 32px;
  box-shadow: var(--shadow);
}

.toggle-unit:hover {
  opacity: 0.7;
}

svg {
  width: 30px;
  height: 30px;
}

.error {
  position: absolute;
  bottom: -32px;
  color: white;
  border-radius: 0.2rem;
  background-color: #53515157;
}

.active {
  padding: 0.2rem 0.5rem;
}

.main {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 0 1rem;
}

.hidden {
  display: none !important;
}

.section {
  margin-inline: auto;
  width: 1500px;
  max-width: 100%;
  color: white;
}

.first_section {
  display: flex;
  width: 1000px;
  flex: 0.5;
  padding-top: 1rem;
}

.current {
  flex: 1;
  margin-bottom: 5rem;
}

.section .weather_info_city {
  font-size: 2rem;
  font-weight: 500;
  color: white;
}

.section .weather_info_country {
  margin-bottom: 1rem;
}

.section .weather_info_temperature {
  position: relative;
}

.section .weather_info_temperature #temp {
  font-size: 5rem;
}

.section .weather_info_temperature .symbol_container,
.section .weather_info_temperature sup {
  position: absolute;
  top: 0;
  margin-left: 0.2rem;
  font-size: 2rem;
}

.section .weather_info_status {
  display: flex;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
}

.section .weather_info_status .max {
  margin-right: .1rem;
}

.second_section {
  display: flex;
  align-items: center;
  flex: 1.5;
  margin-bottom: 1rem;
}

.more_information {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 0.5rem;
  flex: 1;
  flex-basis: 300px;
  margin-bottom: 2rem;
}

.wind_info,
.sun_info,
.infos {
  border-radius: 0.5rem;
  background-color: var(--bg-color);
  box-shadow: var(--shadow);
  padding: 1rem;
}

.wind_info,
.sun_info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.wind_info div span,
.sun_info div span {
  margin-left: 0.5rem;
}

.left_info div {
  color: #ffffffbb;
  margin-bottom: .5rem;
}

.infos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  grid-row: span 2;
}

.info_item {
  display: flex;
  align-items: center;
  height: fit-content;
  border-bottom: 1px solid rgba(255, 255, 255, 0.24);
  padding-bottom: 0.5rem;
}

.info_item + .info_item {
  margin-top: 1rem;
}

.info_item .item_name {
  flex: 1;
  color: #ffffffbb;
}

.forecast {
  flex: 1;
  display: flex;
  gap: 1rem;
}

.forecast .card {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  flex: 1;
  background-color: var(--bg-color);
  border-radius: 0.5rem;
  padding: 1rem 0.5rem;
  box-shadow: var(--shadow);
}

.forecast .card .day {
  margin-left: .5rem;
  font-size: 1.1rem;
  flex: 1;
}

.forecast .card .max_min {
  display: flex;
  align-items: center;
  justify-content: center;
}

.forecast .card img {
  height: 40px;
  width: 40px;
  margin: -10px -10px -15px -10px;
}

.animation {
  display: flex;
  align-items: center;
  gap: .5rem;
  background-color: var(--bg-color);
  padding: .2rem;
  border-radius: .5rem;
  color: white;
  margin-inline: auto;
  margin-bottom: .5rem;
}

.loading {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border-left: 2px solid #ffffff;
  border-top: 2px solid #fff;
  animation: spin .8s infinite linear;
}


@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}


@media screen and (max-width: 1000px) {
  .forecast {
    flex-direction: column;
  }
}

@media screen and (max-width: 830px) {
  * {
    font-size: 15px;
  }

  .first_section {
    flex-direction: column;
  }

  .current {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }

  .more_information {
    grid-template-columns: minmax(1fr, max-content) 1fr;
  }
}
